.rss-item-card {
    width: 100%;
    padding: 10px 15px;

    border: 1px solid #38444d;
    border-radius: 10px;
}
    .rss-item-card a {
        display: block;
        margin: 0;
        text-decoration: none;
    }

.title {
    width: 100%;
    margin: 0;

    font-family: var(--farro);
    color: #fff;

    font-weight: bold;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    font-size: 27px;
    line-height: normal;
}
.publish-date {
    width: 100%;
    
    font-family: var(--farro);

    font-weight: normal;
    font-size: 12px;   
    margin-top: 5px;
    display: block; 
}
.description {
    line-height: normal;
}