.rss-item-card {
    width: 100%;
    margin-bottom: 40px;

    border-radius: 10px;
    background: #fff;
}
    .rss-item-card:last-child {
        margin-bottom: 0;
    }

.card {
    display: block;
    margin: 0;
    padding: 20px;
    text-decoration: none;
}
    .card * {
        cursor: pointer;
    }

.card-title-container {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;

    border-bottom: 1px solid #fff;
}
.title {
    width: 100%;
    display: block;
    
    font-family: var(--farro);
    color: #18242f;
    font-size: 20px;
    word-break: break-word;
}
    .title:hover {
        text-decoration: underline;
    }

.publish-date {
    width: 100%;
    display: block;
    margin-top: 10px;

    font-family: var(--crimson);
    color: #18242f;
    font-style: italic;
    font-size: 14px;
}
.description-container {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;

    border-top: 1px solid #dedede;
}
.description {
    width: 100%;
    margin: 0;

    font-family: var(--crimson);
    color: #18242f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
    .description img {
        width: 100%;
        height: auto;
        display: block;
    }
    .description small {
        display: block;
        margin-top: 5px;
        padding-bottom: 10px;

        font-size: 12px;
        line-height: 14px;

        border-bottom: 1px solid #dedede;
    }
    .description p {
        width: 100%;
        display: block;
        margin: 15px 0 0 0;
    }
            .description p:not(:first-of-type) {
                display: none;
            }
            .description p:first-child {
                margin: 20px 0 0 0;
            }

        .description p a {
            display: inline;
            padding: 0 3px;
            color: #18242f;
            background: rgba(51, 63, 74, .2);
            border-bottom: 1px solid rgba(92, 108, 123, .5);
            text-decoration: none;
        }
            .description p a:hover {
                color: #18242f;
                background: rgba(51, 63, 74, .4);
                border-bottom: 1px solid rgba(92, 108, 123, .8);
            }

        /* .description p a {
            width: 100%;
            display: block;
            padding: 10px 0;

            font-family: var(--farro);
            color: #fff;
            font-size: 12px;
            text-align: center;
            
            background: #18242f;
        } */